.cartcard{
    width: 90%;
    height: 180px;
box-shadow: 2px 2px 10px rgb(88, 88, 88);    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}
.left-card img{
    max-width: 50%;
    height: 100%;
}

.left-card{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left-card .name-price{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.right-card button{
    background-color: rgb(201, 27, 27);
    color: white;
    padding:  10px 20px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
}



