.footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
background-color: rgba(20, 25, 29, 1);
;
    color: white;
    font-size: 18px;
    margin-top: 30px;

}