.checkout {
  padding: 50px 6%;
  min-height: 80vh;
  background: linear-gradient(135deg, #fdf7f3, #ffe6d6);
}

.checkout h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}

.checkout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* FORM */
.checkout-form {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  animation: fadeUp 0.6s ease;
}

.checkout-form h3 {
  margin-bottom: 15px;
}

.checkout-form input {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.checkout-form input:focus {
  outline: none;
  border-color: #caa57a;
}

.checkout-form button {
  margin-top: 10px;
  padding: 14px;
  width: 100%;
  border-radius: 30px;
  border: none;
    transition: all 0.35s ease;

 background: linear-gradient(to right, #111, #333);  color: white;
  cursor: pointer;
}

.checkout-form button::before{
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transform: translateX(-100%);
  transition: 0.5s;
}

.order-summary h3 {
  margin-bottom: 15px;
}

.summary-item {
  padding: 8px 0;
  border-bottom: 1px dashed #ddd;
}

.order-total {
  margin-top: 15px;
  font-size: 22px;
  color: #e48f6c;
  text-align: right;
}

@media (max-width: 600px) {
  .order-total {
    text-align: center;
  }
}

.checkout-form button:hover::before{
    transform: translateX(100%);

}

.checkout-form button:hover {
  background: linear-gradient(to right, #caa57a, #111);
  transform: scale(1.05);
}

/* ORDER SUMMARY */
.order-summary {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  animation: fadeUp 0.8s ease;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .checkout-container {
    grid-template-columns: 1fr;
  }
}
