.shop{
    width: 100%;
    min-height: 100vh;
    margin-top: 10%;
}
.shop .heading{
    font-size: 3vmax;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}